@page "/character/{id:int}"
@page "/character"

@using BlazorPlayGround.Client.Services

@inject HttpClient Http
@inject IClientCharacterService clientCharacterService
@inject IClientTeamService clientTeamService
@inject IClientDifficultyService clientDifficultyService   
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (id is null)
{
    <PageTitle>New Character</PageTitle>
    <h2>Create a New Character</h2>
}
else
{
    <PageTitle>Edit @character.Name</PageTitle>
    <h2>Edit @character.Name</h2>
}


<EditForm Model="character" OnValidSubmit="HandleSubmit">

    @if(id is null)
    {
        <DataAnnotationsValidator />
    }

    <MudCard>
        <MudCardContent>
            <MudTextField Label="Name" @bind-Value="@character.Name"
                For="@(() => character.Name)"
            >
            </MudTextField>
            <MudTextField Label="Bio" @bind-Value="character.Bio"
                For="@(() => character.Bio)"
            >
            </MudTextField>
            <MudRadioGroup Class="my-4" @bind-SelectedOption="character.TeamId">
                @foreach (var team in clientTeamService.teams)
                {
                    <MudRadio Option="team.Id" Color="Color.Primary" Size="Size.Small">@team.Name</MudRadio>
                }
            </MudRadioGroup>
            <MudSelect Label="Difficulty" @bind-Value="character.DifficultyId">
                <MudSelectItem Value="0">Select Difficulty</MudSelectItem>
                @foreach (var difficulty in clientDifficultyService.difficulties)
                {
                    <MudSelectItem Value="difficulty.Id">@difficulty.Title</MudSelectItem>
                }
            </MudSelect>
           
            <MudImage Src="@character.Image" Elevation="25" Class="rounded my-2"></MudImage>
            <br />
            <InputFile id="fileInput" OnChange="OnFileChange" hidden/>
            <MudButton
                HtmlTag="label"    
                Variant="Variant.Filled"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.CloudUpload"
                for="fileInput"
            >
                Upload Image
            </MudButton>
            <ValidationMessage For="@(() => character.Image)" />

            <br/>
            <MudSwitch @bind-Checked="@character.isReadyToFight" Color="Color.Primary" Label="Ready to Fight?"/>

        </MudCardContent>
    </MudCard>
    <br />


    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Class="mr-2">@(isNew ? "Create Character" : "Update Character")</MudButton>

    @if(!isNew) {
    <MudButton ButtonType="ButtonType.Button"
        OnClick="() => DeleteCharacter(character.Id)"
                   Color="Color.Error"
                   Variant="Variant.Filled"> Delete Character
    </MudButton>
    }
</EditForm>

<p style="height:500px;"></p>

@code {

    [Parameter]
    public int? id { get; set; }

    string btnText = string.Empty;

    bool isNew = true;

    public Character character = new Character();

    protected override async Task OnInitializedAsync()
    {
        btnText = id == null ? "Save New Character" : "Update Character";
        await clientTeamService.GetAllTeam();
        await clientDifficultyService.GetAllDifficulty();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (id != null)
        {
            var result = await clientCharacterService.GetSingleCharacter((int)id);
            if (result != null)
            {
                character = result;
                isNew = false;
            }
            else
            {
                NavigationManager.NavigateTo("/characters");
            }
        }
    }

    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 200, 200);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format}; base64, {Convert.ToBase64String(buffer)}";
        character.Image = imageData;
    }

    private async Task HandleSubmit()
    {
        if (id is null)
        {
            if (character.TeamId == 0)
            {
                Snackbar.Add(
                "Team is required!",
                Severity.Warning,
                config =>
            {
                config.ShowTransitionDuration = 200;
                config.HideTransitionDuration = 400;
                config.VisibleStateDuration = 2500;
            });
                return;
            }
            else if (character.DifficultyId == 0)
            {
                Snackbar.Add(
                "Difficulty is required!",
                Severity.Warning,
                config =>
            {
                config.ShowTransitionDuration = 200;
                config.HideTransitionDuration = 400;
                config.VisibleStateDuration = 2500;
            });
                return;
            }

            

            await clientCharacterService.AddCharacter(character);
            
            Snackbar.Add(

            "Added Characeter Successfully",

            Severity.Success,

            config =>

            {

            config.ShowTransitionDuration = 200;

            config.HideTransitionDuration = 400;

            config.VisibleStateDuration = 2500;

            });
        }

        else
        {
            await clientCharacterService.UpdateCharacter(character);
            Snackbar.Add(

            "Updated Characeter Successfully",

            Severity.Success,

            config =>

            {

                config.ShowTransitionDuration = 200;

                config.HideTransitionDuration = 400;

                config.VisibleStateDuration = 2500;

            });
        }
    }

    async void DeleteCharacter(int id)
    {
        await clientCharacterService.DeleteCharacter(id);
        StateHasChanged();
        Snackbar.Add(

            "Deleted Characeter Successfully",

            Severity.Success,

            config =>

            {

                config.ShowTransitionDuration = 200;

                config.HideTransitionDuration = 400;

                config.VisibleStateDuration = 2500;

            });
    }

}